<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Course App</a>
        <ul class="navbar-nav me-auto flex-row">
            <li class="nav-item me-2">
                <a href="/" class="nav-link">Courses</a>
            </li>
            <li class="nav-item me-2">
                <a href="/contact" class="nav-link">Contanct</a>
            </li>
            <li class="nav-item me-2">
                <a href="/about" class="nav-link">About</a>
            </li>
        </ul>
    </div>
</nav>