{% extends "layout.html" %}
{% load static %}

{% block page_title %}
    {{course.title}}
{% endblock page_title %}

{% block cssFiles %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock cssFiles %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <!--menü-->
            <div class="col-5">
                <img class="img-fluid rounded" src="{% static 'courses/img/'|add:course.imageUrl %}" alt="{{course.title}}">
            </div>
            <!--content-->
            <div class="col-7">
                <h1 class="h3">{{course.title}}</h1>
                <p>
                    {{course.description}}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js_files %}
    <script src="{% static "courses/js/script.js" %}"></script>
{% endblock js_files %}