{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseApp | {% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/fontawesome/css/font-awesome.min.css" %}"/>
    {% block cssFiles %}{% endblock cssFiles %}
</head>
<body>
    <!--navbar-->
    {% include "partials/_nav.html" %}
    
    {% block content %} {% endblock %}
    
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    {% block js_files %}{% endblock js_files %}
</body>
</html>